<h2>Editar Turno</h2>

<form [formGroup]="form" (ngSubmit)="guardar()">
  <div class="campo">
    <label>DNI Paciente</label>
    <input formControlName="dniPaciente" />
  </div>

  <div class="campo">
    <label>DNI Médico</label>
    <input formControlName="dniMedico" />
  </div>

  <div class="campo">
    <label>Fecha</label>
    <input
      type="date"
      formControlName="fecha"
      (change)="cargarHorariosDisponibles()"
      placeholder="Selecciona una fecha"
    />
  </div>

  <div class="campo">
    <label>Hora</label>
    <select formControlName="hora">
      <option value="" disabled selected>Selecciona una hora disponible</option>
      <option *ngFor="let h of horariosDisponibles" [value]="h">
        {{ h }}
      </option>
    </select>
  </div>

  <div class="campo">
    <label>Asistencia</label>
    <input formControlName="estadoAsistencia"/>
  </div>

@if (error && mensaje) {
  <div class="error">{{ error }}</div>
}
@if (mensaje) {
  <div class="mensaje">{{ mensaje }}</div>
}

  <div class="actions">
    <button type="submit" class="primary" [disabled]="form.invalid">
      Guardar
    </button>
    <button type="button" (click)="volver()">Volver</button>
  </div>
</form>



